<!DOCTYPE HTML>
<HTML>
    <HEAD>
        <TITLE>Login</TITLE>
        <LINK rel="stylesheet" type="text/css" href="../public/css/style.css">
    </HEAD>

    <BODY>
        <DIV id="main" class="container">
            <IMG width="300" alt="LION" src="../public/lion.jpeg"/>
            <FORM id="login" action="/login" method="POST">
                <LABEL for="username"><STRONG>USERNAME</STRONG></LABEL>
                <INPUT type="text" name="username" id="username">
                <LABEL for="password"><STRONG>PASSWORD</STRONG></LABEL>
                <INPUT type="password" name="password" id="password">
                <BUTTON type="submit" name="login">LOGIN</BUTTON>
            </FORM>
            <BR><BR><BR>
            <DIV id="welcome">
                <P>WELCOME • BIENVENIDO • ДОБРО ПОЖАЛОВАТЬ • WILLKOMMEN • BEM VINDA • BIENVENUE</P>
                <H2>Codette.com</H2>
            </DIV>
        </DIV>
    </BODY>
</HTML>