<!DOCTYPE HTML>
<HTML>
    <HEAD>
        <TITLE>Management</TITLE>
        <LINK rel="stylesheet" type="text/css" href="css/style.css">
    </HEAD>

    <BODY>
        <DIV class="container">
            <H1>CODETTE.COM</H1><BR>

            <SECTION id="create">
                <FORM method="POST" action="/create">
                    <H2>CREATE NEW USER</H2>
                    <LABEL for="username"><STRONG>SET A USERNAME</STRONG></LABEL>
                    <INPUT type="text" name="username">
                    <LABEL for="password"><STRONG>SET A PASSWORD</STRONG></LABEL>
                    <INPUT type="password" name="password">
                    <BUTTON type="submit" name="create">CREATE</BUTTON>
                </FORM>
            </SECTION>

            <SECTION id="reset">
                <FORM method="POST" action="/reset">
                    <H2>RESET PASSWORD</H2>
                    <LABEL for="username"><STRONG>TYPE THE USERNAME</STRONG></LABEL>
                    <INPUT type="text" name="username">
                    <LABEL for="password"><STRONG>SET A NEW PASSWORD</STRONG></LABEL><BR>
                    <INPUT type="password" name="password">
                    <BUTTON type="submit" name="reset">RESET</BUTTON>
                </FORM>
            </SECTION>

            <SECTION id="delete">
                <FORM method="POST" action="/delete">
                    <H2>DELETE USER</H2>
                    <LABEL for="username"><STRONG>USERNAME</STRONG></LABEL>
                    <INPUT type="text" name="username">
                    <BUTTON type="submit" name="delete">DELETE</BUTTON>
                </FORM>
            </SECTION>

            <DIV id="img">
                <IMG width="300" alt="LION" src="img/lion.jpeg"/>
            </DIV>
        </DIV>
    </BODY>
</HTML>